/*
color
------------------------------ */

$color-primary: #3a3a3a;
$color-secondary: #2f9b9b;
$color-secondary-light: #e4eded;
$color-white: #ffffff;
$color-white-transparent: #ffffffe6;
$color-grey: #cccccc;
$color-black-transparent: #3a3a3ab3;

/*
font
------------------------------ */
$font-family-jp: 'Noto Sans JP', sans-serif;
$font-family-en: din-2014, sans-serif;